$color-primary-CTA-text: hsl(356, 100%, 66%);
$color-primary-CTA-hover-bg: hsl(355, 100%, 74%);
$color-primary-headings: hsl(208, 49%, 24%);

$color-white-text: hsl(0, 0%, 100%);
$color-neutral-footer-text: hsl(240, 2%, 79%);
$color-neutral-default: hsl(207, 13%, 34%);
$color-neutral-footer-bg: hsl(240, 10%, 16%);

$color-bg-gradient-mobile-nav-light: hsl(13, 100%, 72%);
$color-bg-gradient-mobile-nav-dark: hsl(353, 100%, 62%);

$color-bg-gradient-body-dark: hsl(237, 17%, 21%);
$color-bg-gradient-body-light: hsl(237, 23%, 32%);

$fs-default: 1rem;

$ff-heading: "Overpass", sans-serif;
$ff-default: "Ubuntu", sans-serif;

$fw-lighter: 300;
$fw-light: 400;
$fw-dark: 500;
$fw-darker: 600;
$fw-darkest: 700;
